.spacer-component {
   @apply h-8;
}

.spacer-component-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 16px;
  font-weight: 600;
  color: var(--ion-color-primary);
}
