<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">{{DataMerekKendaraan}}&nbsp;&nbsp;-&nbsp;&nbsp;{{DataMvYears}}&nbsp;&nbsp;:&nbsp;&nbsp;{{DATA_LIST.length}}&nbsp;&nbsp;units</span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-field">
    <label [class]="focused ? 'label-focused' : '' ">Merek Kendaraan</label>
    <input [(ngModel)]="searchParam" (input)="filter()" type="text" (focus)="focused = true" (blur)="onBlur($event)">
  </div>
  <div *ngIf="DATA_LIST.length > 0 then this.showList else this.noList"></div>
  <ng-template #showList>
    <ion-item *ngFor="let item of filteredList let i = index" (click)="selectMvModel(item)">
      <ion-icon slot="start" name="ribbon" color="primary"></ion-icon>
      <div class="text-xs font-bold">{{item.unit_name}}</div>
      <ion-icon slot="end" clas="icon-only" name="caret-forward" color="primary"></ion-icon>
    </ion-item>
  </ng-template>

  <ng-template #noList>
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/cars.jpg" />
      <ion-card-header>
        <ion-card-title class="font-bold font-lato">Model Kendaraan</ion-card-title>
        <ion-card-subtitle class="font-semibold font-lato">Model Kendaraan Belum Tersedia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="font-bold">Model kendaraan anda belum tersedia, <br> silahkan tambahkan model kendaraan anda</p>
        <div class="my-3">
          <app-button [ButtonBlock]="true" ButtonText="Tambah Model"></app-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>







