.header-name{
  font-family: 'Montserrat', sans-serif;
  @apply mx-3 font-bold text-[16px] text-blue-500
}

.card-title{
  font-family: 'Montserrat', sans-serif;
}

.price{
  font-family: 'Montserrat', sans-serif;
}

ion-item {
  --inner-border-width: 0;
  --border-width: 0.5px;
  border-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
  color: var(--ion-color-primary);
  @apply my-1 font-semibold;
  --border-radius: 8px;
}

ion-checkbox {
  --size: 24px;
  padding: 8px;
  --checkbox-background-checked: var(--ion-color-primary);
}

ion-toast.custom-toast {
  --background: rgba(0, 47, 255, 0.576);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #ffffff;
}

ion-checkbox::part(mark) {
  --checkmark-width: 1.5px;
  padding: 2px;
}

.button-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  @apply text-[14px] text-blue-50;
}

ion-input.custom {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  @apply font-semibold;
  --color: var(--ion-color-primary);
  --highlight-color: var(--ion-color-primary);
  text-align: right;
}

.form-field{
  @apply mb-3;
  position: relative;
  height: 50px;

  label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    color: #939fab;
    @apply text-sm;
    transition: 0.3s;
  }

  input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #e7ebee;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--ion-color-primary);
    @apply text-sm font-semibold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  input:focus{
    @apply border-blue-500 font-lato font-semibold;
    color: var(--ion-color-primary);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .label-focused{
    @apply text-sm;
    top: -.4rem;
    left: 0.8rem;
    background: white;
    z-index: 10;
    color: var(--ion-color-primary);
  }

  .label-blur{
    top: -.4rem;
    left: 0.8rem;
    font-size: 14px;
    background: white;
    z-index: 10;
  }
}
