.modal-title{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: black;
}

.modal-content{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: black;
}
