<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Aksesoris Kendaraan</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-2 mx-2 my-2">
    <app-button ButtonText="Tambahkan" [ButtonBlock]="true" (buttonClick)="getDataAccessories(DATA_LIST)"></app-button>
  </div>
</ion-content>
