.header-name{
  font-family: 'Montserrat', sans-serif;
  @apply mx-3 font-bold text-[14px] text-blue-500
}

.input-lable {
  color: var(--ion-color-primary);
}

ion-item {
  font-family: 'Montserrat', sans-serif;
  --inner-border-width: 0;
  --border-width: 1px;
  --border-color: var(--ion-color-primary);
  --border-radius: 8px;
  --background: transparent;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.button-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  @apply text-[14px] text-blue-50;
}

.input-mv-price{
  @apply border border-blue-700 w-full rounded-[8px] p-3 my-1 text-right text-[14px] text-blue-700;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}


