<!--<ion-header class="ion-no-border">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-button (click)="gotoHome()">-->
<!--        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--    <span class="header-name">Asuransi Kendaraan</span>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->

<!--  <div class="relative">-->
<!--    <div class="h-40 w-full bg-blue-400">-->
<!--      <div class="flex justify-between">-->
<!--        <div class="mx-[16px] pt-[32px] font-bold text-lg leading-6 text-white">-->
<!--          Gratis Layanan Mobil Derek...-->
<!--          <br/>-->
<!--          <span class="text-[8px]">Untuk Wilayah Coverage (JaDeTaBek)</span>-->
<!--        </div>-->
<!--        <img src="./assets/towing.png" class="mr-[16px] pt-[50px] w-[153px]">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="my-2 relative bg-white p-4 mt-[-35px] rounded-[16px] shadow-2xl">-->

<!--      <app-spacer SECTION_NAME="Nasabah & Penggunaan"></app-spacer>-->
<!--      <app-nasabah (setDataTipeNasabah)="getDataNasabah($event)"/>-->
<!--      <app-mv-function (setDataMvFunction)="getDataMvFunction($event)"/>-->
<!--      <div class="my-3 ion-activatable ripple-parent" *ngFor="let item of inputDetail">-->
<!--        <ion-ripple-effect></ion-ripple-effect>-->
<!--        <ion-item [id]="item.id">-->
<!--          <ion-icon slot="start" [name]="item.iconL" color="primary"></ion-icon>-->
<!--          <div class="mx-2 text-sm font-bold input-lable">{{item.label}}</div>-->
<!--          <ion-icon slot="end" [name]="item.iconR" [color]="item.color"></ion-icon>-->
<!--        </ion-item>-->
<!--        <app-searchable-select-->
<!--          (tipeNasabahSelected)="handleTipeNasabahSelected($event)"-->
<!--          (tipePenggunaSelected)="handleTipePenggunaSelected($event)"-->
<!--          [modal_id]="item.id"-->
<!--          [modal_title]="item.label">-->
<!--        </app-searchable-select>-->
<!--      </div>-->

<!--      <app-spacer SECTION_NAME="Data Kendaraan"></app-spacer>-->
<!--      <div class="my-3 ion-activatable ripple-parent" *ngFor="let item of inputDetail_2">-->
<!--        <ion-ripple-effect></ion-ripple-effect>-->
<!--        <ion-item [id]="item.id">-->
<!--          <ion-icon slot="start" [name]="item.iconL" color="primary"></ion-icon>-->
<!--          <div class="mx-2 text-sm font-bold input-lable">{{item.label}}</div>-->
<!--          <ion-icon slot="end" [name]="item.iconR" [color]="item.color"></ion-icon>-->
<!--        </ion-item>-->
<!--        <app-searchable-select-->
<!--          [modal_id]="item.id"-->
<!--          [modal_title]="item.label"-->
<!--          (tipeKendaraanSelected)="handleTipeKendaraanSelected($event)"-->
<!--          (tahunKendaraanSelected)="handleTahunKendaraanSelected($event)"-->
<!--          (platKendaraanSelected)="handlePlatKendaraanSelected($event)"-->
<!--        ></app-searchable-select>-->
<!--      </div>-->

<!--      <app-spacer SECTION_NAME="Harga Kendaraan Dan Aksesoris"></app-spacer>-->
<!--      <div class="my-3 ion-activatable ripple-parent hidden" *ngFor="let item of inputDetail_2">-->
<!--        <ion-ripple-effect></ion-ripple-effect>-->
<!--        <ion-item [id]="item.id">-->
<!--          <ion-icon slot="start" [name]="item.iconL" color="primary"></ion-icon>-->
<!--          <div class="mx-2 text-sm font-bold input-lable">{{item.label}}</div>-->
<!--          <ion-icon slot="end" [name]="item.iconR" [color]="item.color"></ion-icon>-->
<!--        </ion-item>-->
<!--      </div>-->

<!--      <div class="my-4">-->
<!--        <button class="my-4 block bg-blue-600 p-2 w-full h-[46px] rounded-[8px] shadow-lg button-text">Cari Asuransi</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</ion-content>-->
<!---->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Asuransi Kendaraan</span>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="relative">
    <div class="h-40 w-full bg-blue-400">
      <div class="flex justify-between">
        <div class="mx-[16px] pt-[32px] font-bold text-lg leading-6 text-white">
          Gratis Layanan Mobil Derek...
          <br/>
          <span class="text-[8px]">Untuk Wilayah Coverage (JaDeTaBek)</span>
        </div>
        <img src="./assets/towing.png" class="mr-[16px] pt-[50px] w-[153px]">
      </div>
    </div>
    <div class="my-2 relative bg-white p-4 mt-[-35px] rounded-[16px] shadow-2xl">
      <app-spacer SECTION_NAME="Nasabah & Penggunaan"></app-spacer>
      <app-nasabah (setDataTipeNasabah)="getDataNasabah($event)"/>
      <app-mv-function (setDataMvFunction)="getDataMvFunction($event)"/>
      <app-spacer SECTION_NAME="Plat Wilayah Kendaraan"></app-spacer>
      <app-mv-license (setDataMvLicense)="getDataMvLicense($event)"/>
      <app-spacer SECTION_NAME="Data Kendaraan"></app-spacer>
      <app-mv-type (setDataMvType)="getDataMvType($event)"/>
      <app-mv-years (setDataMvYear)="getDataMvYear($event)"/>
      <div [class]="CheckParamMV()">
        <app-mv-model-brand/>
      </div>

      <app-spacer SECTION_NAME="Harga Kendaraan Dan Aksesoris"></app-spacer>
      <div class="my-3 ion-activatable ripple-parent hidden" *ngFor="let item of inputDetail_2">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-item [id]="item.id">
          <ion-icon slot="start" [name]="item.iconL" color="primary"></ion-icon>
          <div class="mx-2 text-sm font-bold input-lable">{{item.label}}</div>
          <ion-icon slot="end" [name]="item.iconR" [color]="item.color"></ion-icon>
        </ion-item>
      </div>

      <div class="my-4">
        <button class="my-4 block bg-blue-600 p-2 w-full h-[46px] rounded-[8px] shadow-lg button-text">Cari Asuransi</button>
      </div>

    </div>
  </div>
</ion-content>

