.header-name{
  font-family: 'Montserrat', sans-serif;
  @apply mx-3 font-bold text-[16px] text-blue-50
}

.input-lable {
  color: var(--ion-color-primary);
}

ion-item {
  font-family: 'Montserrat', sans-serif;
  --inner-border-width: 0;
  --border-width: 1px;
  --border-color: var(--ion-color-primary);
  --border-radius: 8px;
  --background: transparent;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.button-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  @apply text-[14px] text-blue-50;
}

.input-mv-price{
  @apply border border-blue-700 w-full rounded-[8px] p-3 my-1 text-right text-[14px] text-blue-700;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

ion-button.custom-segment{
  --background: transparent !important;
  @apply text-[14px] text-blue-500;
}


ion-segment{
  border-radius: 12px;
}

ion-segment-button::part(indicator-background) {
  @apply bg-blue-600;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #08a391;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  font-family: 'Montserrat', sans-serif;
  @apply text-blue-700
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 10px;
}

.image-container{
  width: 100%;
  height: 232px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the container while maintaining its aspect ratio */
}

ion-toolbar{
  --background: transparent !important;
  --border-color: trasparent !important;
}

ion-content{
  --offset-top:0px;
  position: absolute;
}

ion-footer{
  visibility: hidden;
}

