<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Pilih Tahun Kendaraan</span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-field">
    <label [class]="focused ? 'label-focused' : '' ">Tahun Kendaraan</label>
    <input [(ngModel)]="searchParam" (input)="filter()" type="text" (focus)="focused = true" (blur)="onBlur($event)">
  </div>
  <ion-item *ngFor="let item of filteredList">
    <div class="text-sm font-semibold">{{item.text}}</div>
    <ion-icon slot="end" clas="icon-only" name="caret-forward" color="primary"></ion-icon>
  </ion-item>
</ion-content>
