.header-name {
  font-family: "Montserrat", sans-serif;
  @apply mx-3 font-bold text-[16px] text-blue-500;
}

.text-custom {
  font-family: "Montserrat", sans-serif;
  @apply text-[13px];
}

.footer-name {
  font-family: "Montserrat", sans-serif;
  @apply mx-3 font-bold text-[16px] text-blue-500;
}

ion-segment {
  border-radius: 12px;
}

ion-segment-button::part(indicator-background) {
  @apply bg-blue-600;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #08a391;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  font-family: "Montserrat", sans-serif;
  @apply text-blue-700;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 12px;
}

.custom-header {
  @apply font-bold text-[16px] text-blue-500 p-2 border-0 border-r-[3.5px] border-blue-500;
}
.custom-container {
  @apply p-2 shadow-sm;
  border: 1px solid rgba(0, 119, 255, 0.5);
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
}

.image-container {
  width: 100%;
  height: 132px;
  background-color: grey;
  border-radius: 12px;
  margin-bottom: 16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the container while maintaining its aspect ratio */
  border-radius: 12px; /* In case the image doesn't completely cover the container, keep the border-radius consistent */
}

ion-item {
  --inner-border-width: 0;
  --border-width: 0.5px;
  --border-color: var(--ion-color-primary);
  border-bottom: 1px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--ion-color-primary);
  @apply mt-[8px] font-bold;
  --border-radius: 8px;
  --background: transparent !important;
}

.green-background {
  @apply text-white rounded-[8px];
  background-color: var(--ion-color-primary);
  --border-color: transparent;
}

.transparent-background {
  @apply bg-transparent;
}
