<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Pilih Jaminan Asuransi</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mx-[8px] p-1">
    <ion-segment mode="ios" value="1" [(ngModel)]="mainRisk">
      <ion-segment-button *ngFor="let item of dataRisk" [value]="item.risk_number"
                          (click)="getAdditionalRisk(mainRisk)">
        <div class="m-2 p-2">{{getRiskName(item.risk_number)}}</div>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div *ngFor="let item of dataRisk" [ngSwitch]="mainRisk">
    <section *ngSwitchCase="item.risk_number">
      <div class="p-2 mx-[8px]">
        <div class="custom-container">
          <div class="mb-[32px] custom-header" [innerHTML]="item.risk_description_id"></div>
          <div class="image-container">
            <img [src]="getImgSrc(item.risk_number)" alt="asuransiku.id">
          </div>
          <div class="text-justify text-custom tracking-tight mb-[16px] p-2"
               [innerHTML]="showFullText ? item.risk_long_desc : (item.risk_long_desc | slice:0:95) + '...' "></div>
          <div class="-mt-[32px] p-2 text-custom flex justify-end text-blue-500" *ngIf="!showFullText"
               (click)="showFullText = true">Selengkapnya</div>
          <div class="-mt-[32px] p-2 text-custom flex justify-end text-blue-500" *ngIf="showFullText"
               (click)="showFullText = false">Sembunyikan</div>
        </div>
      </div>
    </section>
  </div>

  <section class="p-2 mx-[8px]">
    <div class="my-[8px]">
      <ion-chip color="primary">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <ion-label>
          <div class="text-sm font-bold">Jaminan Perluasan</div>
          <div class="text-xs text-blue-500">TJH : Tanggung Jawab Hukum</div>
        </ion-label>
      </ion-chip>
    </div>

    <div *ngFor="let item of ADDITIONAL_RISK; let i = index">
      <ion-item (click)="toggleItem(item)" [ngClass]="{ 'green-background': addedRiskIndexes.includes(item.risk_number), '': !addedRiskIndexes.includes(item.risk_number) }">
        <div class="text-xs">{{i+1}} . {{item.risk_description_id}}</div>
      </ion-item>
      <!--      <div *ngIf="item.private_si_flags === '1' then this.showTjh else this.noTjh "></div>-->
      <!--      <div *ngIf="item.risk_code === 'PAP01' then this.showSelectPassengers else this.noSelectPassengers "></div>-->
    </div>
  </section>
</ion-content>

<ng-template #showTjh>
  <div class="my-[8px] border border-red-300 rounded-[8px]">
    <div class="mx-[16px]">
      <div class="text-xs text-blue-500">Nilai Pertanggungan</div>
      <ion-item class="-mt-[4px] mb-[8px]">
        <div> SHOW TJH</div>
      </ion-item>
    </div>
  </div>
</ng-template>

<ng-template #showSelectPassengers>
  <div class="my-[8px] border border-red-300 rounded-[8px]">
    <div class="mx-[16px]">
      <div class="text-xs text-blue-500">Jumlah Penumpang</div>
      <ion-item class="-mt-[4px] mb-[8px]">
        <div> SHOW SELECT PASSENGER</div>
      </ion-item>
    </div>
  </div>
</ng-template>

<ng-template #noTjh>
  <div></div>
</ng-template>

<ng-template #noSelectPassengers>
  <div></div>
</ng-template>



<div *ngFor="let item of dataRisk" [ngSwitch]="mainRisk">
  <section *ngSwitchCase="item.risk_number">
    <ion-footer style="background: white" #footer>
      <div class="p-3 mx-[16px] flex flex-row justify-between items-center">
        <div class="footer-name">Selanjutnya</div>
        <app-button class="w-[50%]" (buttonClick)="searchInsurance()" ButtonText="Cari Asuransi" />
      </div>
    </ion-footer>
  </section>
</div>
