<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoMvPage()">
        <ion-icon class="ml-4" color="primary" name="arrow-back-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Asuransi Kendaraan</span>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="ml-4" color="primary" name="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="my-[16px]">
    <div *ngFor="let item of coveragesList; let i = index"
         class="mx-[16px] my-2 p-[8px] border border-blue-200 rounded-[16px] shadow">
      <div class="p-2">
        <div>
          <app-spacer [SECTION_NAME]="i+1+'.  '+item.insurer_name"></app-spacer>
          <img [src]="item.insurer_logo" alt="insurer_logo" class="mx-[16px] mb-[8px]"
               style="width: auto; height: 32px; object-fit: cover">
        </div>
        <div style="border-bottom: 1px solid rgba(128,128,128,0.5);"></div>
        <div class="mt-[16px]">
          <app-button [ButtonBlock]=false [ButtonText]="'Beli Asuransi'"></app-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
