.input-label {
  color: var(--ion-color-primary);
}

ion-item {
  font-family: 'Montserrat', sans-serif;
  --inner-border-width: 0;
  --border-width: 1px;
  --border-color: var(--ion-color-primary);
  --border-radius: 8px;
  --background: transparent;
}
