<!--<ion-header #toolbar class="ion-no-border">-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid fixed="true">
      <ion-row>
        <ion-col sizeXs="8" class="mt-2">
          <ion-img class="w-40 ml-4"
            src="https://www.asuransiku.id/support/images/logo/logo-asuransiku_.png"></ion-img>
        </ion-col>
        <ion-col sizeXs="4">
          <ion-buttons class="ion-float-right">

            <ion-button class="header-button ion-activatable ripple-parent circle">
              <div class="badge">9</div>
              <ion-icon color="dark" slot="icon-only" name="notifications-outline"
                class="rotate_icon"></ion-icon>
            </ion-button>

            <ion-button class="header-button ion-activatable ripple-parent circle">
              <ion-icon color="dark" slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>

          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="toolbar">-->
<ion-content [fullscreen]="true">
  <!-- <ion-toast trigger="downloadProgress" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast> -->
  <div>
    <ion-toast [isOpen]="toastIsOpen" message="Download File Success" class="custom-toast" [duration]="3000" icon="cloud-download-outline"></ion-toast>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6" sizeLg="8" sizeXl="8">
        <section class="section_Q" #slider>

          <swiper-container #swiper (slidechange)="onSlideChange()" [slidesPerView]="1.12" [spaceBetween]="25"
            [centeredSlides]="true" [initialSlide]="1" [autoplay]="{delay:3050, disableOnInteraction:false, autoplayDisableOnInteraction:false}">
            <swiper-slide *ngFor="let item of bannerArray let idx = index">
              <div class="h-40 mt-4 rounded-lg bg-blue-500 shadow-md">
                <img class="rounded-lg object-fill overflow-hidden h-40 w-full"
                  [src]="item.image" />
              </div>
            </swiper-slide>
          </swiper-container>

          <div class="flex flex-wrap gap-1 mt-2 ml-4">
            <div [class]="activeSlide === idx ? 'indicator_a' : 'indicator_i' "
              *ngFor="let item of bannerArray let idx = index"></div>
          </div>

        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-spacer SECTION_NAME="Produk ASURANSIKU"></app-spacer>

  <section id="main-menu" #main_menu>
    <ion-grid [fixed]="true">
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeLg="8" sizeXl="8">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" sizeXs="3" *ngFor="let item of menuList" [routerLink]="item.route">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="ion-activatable ripple-parent menu-button">
                  <ion-ripple-effect></ion-ripple-effect>
                  <img [src]=" 'assets/icon/' + item.icon + '.png'">
                </div>
                <div class="menu-button-text">{{item.name}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <app-spacer SECTION_NAME="Berita Terbaru"></app-spacer>
  <section #news_1>
  </section>
  <app-spacer SECTION_NAME="Berita Terbaru"></app-spacer>
  <section #news_2>
  </section>
  <app-spacer SECTION_NAME="Berita Terbaru"></app-spacer>
  <section #news_3>
  </section>
  <app-spacer SECTION_NAME="Partner Media Penyiaran"></app-spacer>
  <section #newsPartner>
  </section>
  <app-spacer SECTION_NAME="Partner Pembayaran"></app-spacer>
  <section #paymentPartner>
  </section>
  <app-spacer SECTION_NAME="Produk Terkait"></app-spacer>
  <section #productList>
  </section>

  <app-spacer></app-spacer>
  <section #menu style="visibility: visible;">
    <ion-grid [fixed]="true">
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeLg="8" sizeXl="8">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" sizeXs="3">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="ion-activatable ripple-parent menu-button" (click)="selectImageCamera()">
                  <ion-ripple-effect></ion-ripple-effect>
                  <img [src]=" 'assets/core/' + 'camera' + '.svg'">
                </div>
                <div style="font-size: 12px; font-weight: 700;">Camera</div>
              </div>
            </ion-col>
            <ion-col size="2" sizeXs="3">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="ion-activatable ripple-parent menu-button" (click)="selectImageGallery()">
                  <ion-ripple-effect></ion-ripple-effect>
                  <img [src]=" 'assets/core/' + 'gallery' + '.svg'">
                </div>
                <div style="font-size: 12px; font-weight: 700;">Gallery</div>
              </div>
            </ion-col>
            <ion-col size="2" sizeXs="3">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="ion-activatable ripple-parent menu-button" (click)="downloadPdfFile(pdfUrl)">
                  <ion-ripple-effect></ion-ripple-effect>
                  <img [src]=" 'assets/core/' + 'download' + '.svg'">
                </div>
                <div style="font-size: 12px; font-weight: 700;">Download</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6" sizeLg="8" sizeXl="8">
        <ion-list>
          <ion-item-sliding slide="end" *ngFor="let file of documents; let i = index">
            <ion-item (click)="openFile(file)" button>
              <ion-thumbnail>
                <img alt="Silhouette of a person's head" src="../../../assets/core/pdf.svg" />
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-padding">{{file.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deletePdf(file)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-list>
          <ion-item-sliding slide="end" *ngFor="let file of images; let i = index">
            <ion-item>
              <ion-thumbnail>
                <ion-img [src]="file.data"></ion-img>
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-padding">{{file.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteImage(file)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option color="primary" (click)="uploadImage(file)">
                <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
