.badge {
    min-width: 20px;
    min-height: 20px;
    color: var(--NN0,#FFFFFF);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    background-color: var(--RN600,#E02954);
    border: 2px solid var(--NN0,#FFFFFF);
    border-radius: 18px;
    position: absolute;
    top: -2px;
    right: -5px;
    padding: 0 4px;
    transform: translate(10%, -8%);
  }

.tab-selected {
  border-top: 3px solid #3880ff;
}

ion-tab-button {
  --ripple-color: transparent !important;
}


