<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>
<!--merk_code:"TOY"-->
<!--model_number:"76727"-->
<!--unit_name:"Agya 1.2L E M/T"-->
<!--unit_price:"167900000"-->
<!--unit_type:"A"-->
<!--unit_year:"2023"-->
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
        <ion-chip color="primary">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>
            <div class="font-bold">2023</div>
          </ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-icon name="ribbon"></ion-icon>
          <ion-label>
            <div class="font-bold">Agya 1.2L E M/T</div>
          </ion-label>
        </ion-chip>
      <div>Harga</div>
      <div>Pilih</div>
    </ion-card-content>
  </ion-card>
</ion-content>
