ion-item {
  --inner-border-width: 0;
  --border-width: 0.5px;
  --border-color: var(--ion-color-primary);
  border-bottom: 1px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: var(--ion-color-primary);
  @apply mt-[8px] font-bold;
  --border-radius: 8px;
  --background: transparent !important;
}

.custom-container {
  @apply p-2 shadow-sm;
  border: 1px solid rgba(0, 119, 255, 0.5);
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
}

.acc-title {
  font-family: 'Montserrat', sans-serif;
  @apply mx-3 font-bold text-[14px] text-blue-500
}
