<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Pilih Penggunaan Kendaraan</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative" *ngFor="let item of listMvLicense">
    <ion-item class="custom-ion-item" (click)="getDataMvLicense(item)">
      <ion-buttons slot="start">
      <div class="p-2 bg-blue-600 rounded text-white text-center w-[66px] font-bold">{{item.id}}</div>
      </ion-buttons>
      <div class="p-0 text-blue-600 text-[13px] font-semibold truncate">{{item.desc}}</div>
      <hr/>
    </ion-item>
  </div>
</ion-content>
