<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon class="ml-4" slot="icon-only" name="arrow-back-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span class="header-name">Pilih Penggunaan Kendaraan</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative" *ngFor="let item of listMvLicense">
    <ion-list class="custom-ion-list">
      <ion-item class="custom-ion-item">
        <ion-buttons slot="start">
          <div class="plat-id p-2 w-[56px] rounded-[4px] bg-white font-bold text-center items-center">{{item.id}}</div>
        </ion-buttons>
        <div class="text-blue-600 text-[12px] font-semibold">{{item.desc}}</div>
        <ion-buttons slot="end">
          <app-button
            ButtonType="primary"
            [ButtonBlock]="false"
            ButtonText="Pilih"
            (buttonClick)="getDataMvLicense(item)"
          />
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
