  <div class="pop-over-wrapper">
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="person"></ion-icon>
      <div>Profil</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="shield"></ion-icon>
      <div>Polis</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="document"></ion-icon>
      <div>Klaim</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="document"></ion-icon>
      <div>Klaim</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="document"></ion-icon>
      <div>Klaim</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="icon-only" name="document"></ion-icon>
      <div>Klaim</div>
    </ion-item>
  </div>
